.home-about-main-div {
  color: rgb(175, 174, 174);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

#about-main-div {
  width: 60%;
  margin-left: 20px;
  text-align: center;
}

#myname-h1 {
  font-family: "Kaushan Script", cursive;
}

#myname-about-main {
  color: #04aa6d;
  font-family: "Fredoka", sans-serif;
  margin-left: 15px;
}

#about-main-p-tag {
  margin-top: 20px;
  width: 91%;
  margin: auto;
  font-size: large;
}

#myPhoto-main-div {
  background-color: #04aa6d;
  border-radius: 100%;
  padding: 20px;
  margin: auto;
}

#myphoto {
  width: 300px;
  height: 300px;
}

#resume-about-button {
  margin-top: 5%;
  font-size: 200%;
  font-weight: bolder;
  background-color: transparent;
  color: #fff;
  padding: 15px 50px;
  border: 2px solid #04aa6d;
  border-radius: 100px;
  cursor: pointer;
}

#resume-about-button:hover {
  background-color: #04aa6d;
}

.skils-main-div {
  background-color: #242629;
  padding: 28px 18px;
  padding-bottom: 48px;
  margin-top: 20px;
}

.skill-heading {
  color: #fff;
  font-size: 400%;
  text-align: center;
}

.skills_grid {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
}

.skill {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.icon-skill {
  color: #04aa6d;
  font-size: 40px;
}

.skill-p {
  font-weight: bold;
  font-size: larger;
  color: #fff;
}

.quotes {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 30px 10px;
  color: #04aa6d;
}

.quotes > h2 > span {
  font-size: medium;
  color: #b4b3b3;
}

#Blog {
  padding: 28px 18px;
  padding-bottom: 48px;
}

#Blog > h2 {
  color: #fff;
  font-size: 400%;
  text-align: center;
}

.blog-main-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 0px;
}

.blog-main-div > div {
  background-color: #242629;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.blog-main-div > div > h2 {
  text-align: center;
  color: #04aa6d;
}

.contact-main-div {
  text-align: center;
}

.contact-main-div > h2 {
  color: #fff;
  font-size: 400%;
  text-align: center;
}

#social-link-button {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.social-button {
  margin-top: 20px;
  font-size: 200%;
  font-weight: bolder;
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #04aa6d;
  border-radius: 100px;
  cursor: pointer;
}

.social-button:hover {
  background-color: #04aa6d;
}

#Projects {
  padding: 28px 18px;
  padding-bottom: 48px;
}

#Projects > h2 {
  color: #fff;
  font-size: 400%;
  text-align: center;
}

.project-main-div {
  height: 550px;
  width: 95%;
  margin: auto;
}

#project-number-changing {
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0 10px;
}

#project-number-changing > div {
  width: 150px;
  height: fit-content;
  display: flex;
  gap: 10px;
}

#project-number-changing > div > svg {
  text-align: center;
  color: rgb(175, 174, 174);
  border: 1px solid #04aa6d;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}

#project-number-changing > div > svg:hover {
  color: #04aa6d;
}

#project-display-main-div {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 5px;
  margin-top: 5px;
  border-radius: 10px;
}

#project-display-main-div > div {
  width: 60%;
  height: 100%;
}

#project-display-main-div > img {
  max-height: 100%;
  width: 35%;
}

.deploy-source-code {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.deploy-source-code > a {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #04aa6d;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
}

.deploy-source-code > a:hover {
  background-color: #04aa6d;
}

.product-features {
  width: 80%;
}

#mailto {
  cursor: pointer;
}

#footer-space {
  height: 50px;
}

.experience-section {
  width: 90%;
  margin: auto;
}

.experience-section > h1 {
  color: #fff;
  font-size: 400%;
  text-align: center;
}

.experience-section > div {
  width: 70%;
  margin: auto;
}

.experience-section > div > h2 {
  color: #04aa6d;
}

.experience-section > div div {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-section > div div > a {
  color: #fff;
}

.experience-section > div > ul > li {
  margin: 1% 0;
}

.experience-section > div > p {
  width: 90%;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .home-about-main-div {
    color: rgb(175, 174, 174);
    display: flex;
    justify-content: left;
    margin-top: 20px;
    width: 100%;
  }

  #about-main-div {
    width: 50%;
    margin-left: 5px;
    text-align: center;
  }

  #myname-about-main {
    margin-left: 5px;
  }

  #about-main-p-tag {
    margin-top: 20px;
    width: 100%;
    margin: 0;
    font-size: medium;
  }

  #myPhoto-main-div {
    background-color: #04aa6d;
    border-radius: 100%;
    padding: 20px;
    margin: auto;
    width: 30%;
  }

  #myphoto {
    width: 100%;
    height: 250px;
  }

  #resume-about-button {
    margin-top: 3%;
    font-size: 100%;
    padding: 10px 30px;
  }

  .skils-main-div {
    padding: 25px 15px;
    padding-bottom: 45px;
    margin-top: 15px;
  }

  .skill-heading {
    font-size: 250%;
  }

  .skills_grid {
    width: 80%;
    margin-top: 15px;
    display: grid;
  }

  .skill {
    gap: 10px;
  }

  .icon-skill {
    font-size: 35px;
  }

  .skill-p {
    font-size: large;
  }

  .quotes {
    width: 95%;
  }

  #Blog {
    padding: 20px 10px;
    padding-bottom: 40px;
  }

  #Blog > h2 {
    font-size: 250%;
    text-align: center;
  }

  .blog-main-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-main-div {
    text-align: center;
  }

  .contact-main-div > h2 {
    color: #fff;
    font-size: 400%;
    text-align: center;
  }

  #social-link-button {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .social-button {
    margin-top: 15px;
    font-size: 100%;
    padding: 10px 30px;
  }

  .social-button:hover {
    background-color: #04aa6d;
  }

  #Projects {
    padding: 20px 10px;
    padding-bottom: 40px;
  }

  #Projects > h2 {
    color: #fff;
    font-size: 250%;
    text-align: center;
  }

  .project-main-div {
    height: fit-content;
  }

  #project-display-main-div {
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 5px;
    padding-bottom: 20px;
    margin-top: 5px;
    width: 100%;
  }

  #project-display-main-div > div {
    width: 60%;
    height: 100%;
  }

  #project-display-main-div > img {
    height: 90%;
    width: 30%;
    border-radius: 5px;
  }

  .deploy-source-code {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .deploy-source-code > a {
    margin-top: 20px;
    font-size: medium;
    font-weight: bolder;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #04aa6d;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
  }

  .deploy-source-code > a:hover {
    background-color: #04aa6d;
  }

  .product-features {
    width: 90%;
  }

  .experience-section > div {
    width: 80%;
  }

  .experience-section > h1 {
    font-size: 250%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .home-about-main-div {
    color: rgb(175, 174, 174);
    display: block;
    justify-content: left;
    margin-top: 20px;
    width: 95%;
    margin: auto;
  }

  #about-main-div {
    width: 100%;
    margin-left: 5px;
    text-align: center;
  }

  #myname-about-main {
    margin-left: 5px;
  }

  #about-main-p-tag {
    margin-top: 20px;
    width: 100%;
    margin: 0;
    font-size: medium;
  }

  #myPhoto-main-div {
    background-color: #04aa6d;
    border-radius: 100%;
    padding: 10px;
    margin: auto;
    width: 40%;
    margin-top: 10px;
  }

  #myphoto {
    width: 100%;
    height: 150px;
  }

  #resume-about-button {
    margin-top: 3%;
    font-size: 100%;
    padding: 10px 30px;
  }

  .skills_grid {
    width: 80%;
    margin-top: 15px;
    display: block;
  }

  .skill-p {
    font-size: large;
  }

  .quotes {
    width: 90%;
  }

  #Blog {
    padding: 20px 10px;
    padding-bottom: 40px;
  }

  #Blog > h2 {
    font-size: 250%;
    text-align: center;
  }

  .blog-main-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-main-div {
    text-align: center;
  }

  .contact-main-div > h2 {
    color: #fff;
    font-size: 400%;
    text-align: center;
  }

  #social-link-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
  }

  .social-button {
    margin-top: 15px;
    font-size: medium;
    padding: 5px 10px;
  }

  .social-button:hover {
    background-color: #04aa6d;
  }

  #Projects {
    padding: 20px 10px;
    padding-bottom: 40px;
  }

  #Projects > h2 {
    color: #fff;
    font-size: 250%;
    text-align: center;
  }

  .project-main-div {
    height: fit-content;
  }

  #project-display-main-div {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 5px;
    margin-top: 5px;
    width: 100%;
  }

  #project-display-main-div > div {
    width: 100%;
    height: 100%;
  }

  #project-display-main-div > img {
    height: 90%;
    width: 100%;
    border-radius: 5px;
  }

  .deploy-source-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deploy-source-code > a {
    margin-top: 20px;
    font-size: medium;
    font-weight: bolder;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #04aa6d;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
  }

  .deploy-source-code > a:hover {
    background-color: #04aa6d;
  }

  .product-features {
    width: 90%;
  }

  .experience-section {
    width: 100%;
  }

  .experience-section > div {
    width: 95%;
  }

  .experience-section > h1 {
    font-size: 250%;
  }

  .experience-section > div > h2 {
    font-size: 20px;
  }

  .experience-section > div > p {
    width: 100%;
    font-size: 14px;
  }

  .experience-section > div div > a {
    font-size: 14px;
  }

  .experience-section > div div > p {
    font-size: 12px;
  }

  .experience-section > div > ul > li {
    font-size: 14px;
  }
}
